.wrapper {
    width: 350px;
    padding: 20px;
}

body {
    font: 14px sans-serif;
    background-image: url(/assets/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.form {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.inpt {
    color: white;
    background-color: rgba(255, 99, 71, 0);
    padding: 20px;
    margin: 20px 0;
    border: 1px solid white;
}

.inpt:focus {
    background-color: rgba(0, 0, 0, 0.4);
}

.login {
    background-color: rgba(255, 255, 255, 0);
    border: white 1px solid;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all .2s;
    text-decoration: none;
}

.login:hover {
    border: 1px solid skyblue;
    color: skyblue;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.signUp {
    color: skyblue;
    text-decoration: none;
}

.signUp:hover {
    color: white;
    text-decoration: none;
}

.resetBtn {
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
    border: white 0px solid;
    border-radius: 3px;
    transition: all .2s;
}

.resetBtn:hover {

    color: skyblue;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Home Page Style  */



.main {
    display: flex;
}

.welcome{
    width: 50%;
    margin-top: 200px;
    position: relative;
}

.welcome p,
.welcome h1 {
    text-align: left;
}

.welcome p {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 22px;
}

.logout {
    position: absolute;
    bottom: -65px ;
    left: 0px;
    color: white;
    font-size: 14px;
}

.reset {
    position: absolute;
    bottom: -65px ;
    left: 100px;
    color: white;
    font-size: 14px;
}

.role {
    /* display: flex; */
    width: 50%;
   
    position: relative;
}

.role a {
    background-color: rgba(255, 255, 255, 0);
    border: white 1px solid;
    padding: 20px 150px;
    border-radius: 5px;
    transition: all .2s;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.role a:hover {

    color: skyblue;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}
.acq {
    position: absolute;
    top: 250px;
    right: 50px;
}

.dis {
    position: absolute;
    top: 330px;
    right: 50px;
}


.inpt2 {
    display: block;
    padding: 15px 25px;
    color: white;
    background-color: rgba(255, 99, 71, 0);
    border-radius: 5px;
    margin: 10px;
}

.inpt3 {
    padding: 5px;
     text-align: left;

}

.filter{
    padding: 10px 15px;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgba(245, 245, 245, 0.281);
    color: white;

}

.filter:hover{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
}

.filterDiv {
    padding: 14px;
    display: flex;
    justify-content:space-around; 
}
  

